<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <%-include('partials/head.html')%>
</head>
<body>
    <%-include('partials/navigation.html')%>
    <h1>Contacto</h1>
    <div class="container mt-5 " " id="contact" >
        
        
        <p><i class="far fa-envelope"></i>rubenromanvilasau@outlook.com</p>  
        <p><i class="fab fa-whatsapp"></i> +56 9 8920 9062 </p>
        <div class="ml-3 mb-5" id="boton">
            <a class="btn btn-primary" href="trabajamos">Trabajamos?</a>  
        </div>                  
    </div>       
    <%-include('partials/footer.html')%>
</body>
</html>