<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubén Román</title>
    <%-include('partials/head.html')%>
</head>

<body>
    <%-include('partials/navigation.html')%>
            <div class="container mt-3 mb-3 p-5  rounded" id="main">
                <div class="col" align="center">
                    <h1>Rubén Román</h1>
                    <img src="img/20181215_190219067_iOS.png" class="animated__animated animate__bounceIn" id="imgMe"
                        alt="RubenRoman">
                        <br>
                        <br>                       
                                      
                <div class="col" id="redes">
                    <p>
                        <a href="https://github.com/rubenromanvilasau"  target="_blank" rel="noopener"><i class="fab fa-github animated__animated animate__bounceIn"></i></a>
                        <a href="https://www.facebook.com/rromanvilasau"  target="_blank" rel="noopener"><i class="fab fa-facebook animated__animated animate__bounceIn"></i></a>
                        <a href="https://www.linkedin.com/in/ruben-roman-vilasau-78a7b1213/"  target="_blank" rel="noopener"><i class="fab fa-linkedin animated__animated animate__bounceIn" ></i></a>
                        <a href="https://twitter.com/rubenignacioo"  target="_blank" rel="noopener"><i class="fab fa-twitter animated__animated animate__bounceIn"></i></a>
                    </p>
                </div>
                <div>
                    <a class="btn btn-primary" href="trabajamos">Trabajamos?</a>
                </div>
            </div>
            </div>
        <div class="container id="acerca"  >
            <div class="col text-white p-5 " >
                    <h2>Acerca de mi</h2>
                    <p>Estudiante de 4to año de la carrera de ingeniería civil en computación e informática</p>
                    <p><B>Nacionalidad:</B> Chilena</p>
                    <p><B>Edad:</B> 21</p>
                    <p><B>Email:</B> rubenromanvilasau@outlook.com</p>
                </div>
        </div>
        <%-include('partials/footer.html')%>
</body>
</html>